.container {
    max-width: 200px;
    margin: auto;
    padding: 100px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: lightgray;
    /* height: 100vh; */
}

h2 {
    text-align: center;
    color: black
}

.form-group {
    margin-bottom: 50px;
}

label {
    display: block;
    font-weight: bold;
}

label[for="username"],
label[for="title"],
label[for="email"],
label[for="password"],
label[for="confirm"] {
    color: black;
}



input[type="text"],
input[type="password"] {
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}


button[type="button"] {
    display: block;
    width: 115%;
    padding: 15px;
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;

}