@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hotel YED</h1>
    <p>Please contact hotelyed@bussiness.com for any questions.  </a>.</p>
</div>