@page
@model MyApp.Namespace.ShowRoomsModel
@{
    ViewData["Title"] = "Show Rooms";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/ShowRoomsStyle.css" asp-append-version="true" />
</head>

<h1>Show Rooms</h1>

<div class="row">
    @foreach (var room in Model.RoomList)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                @if (!string.IsNullOrEmpty(room.ImagePath))
                {
                    <img class="card-img-top" src="@Url.Content(room.ImagePath)" alt="Room image">
                }
                else
                {
                    <div class="card-img-top no-image">No Image</div>
                }
                <div class="card-body">
                    <h5 class="card-title">@room.RoomName</h5>
                    <p class="card-text">Capacity: @room.Capacity</p>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@room.Id" class="mt-3">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>


